---
title: contacts
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{% include "partials/_header.html" %}
	{% include "partials/_breadcrumbs.html" %}
	<!-- begin topic -->
	<div class="topic">
		<div class="topic__inner inner">
			<h2 class="topic__title  topic__title_wm title">Контакты</h2>
		</div>
	</div>
	<!-- end topic -->
	<!-- begin items -->
	<div class="contacts">
		<div class="contacts__map js-map" data-center-lat="55.753678" data-center-lng="37.621103">
		</div>
		<div class="contacts__wrap">
			<div class="contacts__inner inner">
				<div class="contacts__description">
					<div class="contacts__details">
						<a href="tel:88005553535" class="phone contacts__details-item">{{ mixins.icon('phone') }}8 800 555 35 35</a>
						<span class="contact-control contacts__details-item">{{ mixins.icon('marker') }} Город балашиха шоссе энтузиастов владение 4</span>
						<a href="mailto:ulnv.vl@gmail.com" class="contact-control contacts__details-item">{{ mixins.icon('email') }}ulnv.vl@gmail.com</a>
					</div>
					<div class="contacts__cities-wrap js-cities">
						<div class="current-city js-cities-current"></div>
						<ul class="contacts__cities js-cities-list">
							{% for item in [
								"г. Балашиха",
								"г. Иваново",
								"г. Родники",
								"ОСП Оренбург",
								"ОСП Рязань",
								"ОСП Саратов",
								"ОСП Оренбург",
								"ОСП Оренбург",
								"ОСП Ставрополь",
								"ОСП Тюмень",
								"ОСП Хабаровск",
								"ОСП Ростов-на-дону",
								"ОСП Кемерово",
								"ОСП Тверь",
								"ОСП Екатеринбург",
								"Оптово розничный магазин
								(Иваново)",
								"Оптово розничный магазин
								(Ярославль)",
								"Оптово розничный магазин
								(Москва)"
							] %}
								<li class="contacts__city js-cities-item">
									<a href="#" class="contacts__link">
										{{ item }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end items -->
	{% include "partials/_footer.html" %}
{% endblock %}