---
title: news
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{% include "partials/_header.html" %}
	{% include "partials/_breadcrumbs.html" %}
	<!-- begin topic -->
	<div class="topic">
		<div class="topic__inner inner">
			<h2 class="topic__title topic__title_730 title">Коллекция штор пополнилась 
				новыми видами продукции</h2>
			<h5 class="topic__subtitle topic__subtitle_xs">20 cентября 2018</h5>
		</div>
	</div>
	<!-- end topic -->
	<article class="news-article">
		<div class="news-article__inner inner">
			<p>
				Проект «Рогожка» стартовал менее года назад, но уже стал одним из самых успешных в категории «Домашний текстиль». Ткань, имитирующая лён, была разработана нашими 
	специалистами на предприятии «Родники-текстиль» и стала настоящим драйвером для нового направления «Шторы». Изделия в натуральных тонах с приятной фактурой сразу 
	полюбились покупателям – они отлично вписываются в любой интерьер, неприхотливы в уходе и, самое главное, создают ощущение экологичного дома, чего так не хватает 
	современному человеку. Концепция естественности реализуется через природные оттенки рогожки, напоминающие о лесе, поле, небе и воде.
			</p>
			<div class="news-article__img">
				<img src="./img/news-article.jpg" alt="img">
			</div>
			<p>
				Сегодня готово комплексное предложения для декорирования помещения в одном стиле - к шторам добавились скатерти, декоративные подушки, чехлы для декоративных 
	подушек в едином дизайне. Кроме того, к началу сезона подготовлены новинки – рогожка в горчичном, бирюзовом, коралловом и фиолетовым цветах, а также изделия из ткани 
	с печатным рисунком
			</p>
		</div>
	</article>
	{% include "partials/_footer.html" %}

{% endblock %}