{% macro icon(i) %}
<svg class="icon icon-{{i}}"><use xlink:href="img/sprite.svg#icon-{{i}}"></use></svg>
{% endmacro %}

{% macro item(props) %}
<!-- begin item -->
<a href="#" class="item{% if props.class %} {{ props.class }}{% endif %}">
	<span class="item__img" style="background-image: url({{ props.img or 'https://via.placeholder.com/255x255' }});"></span>
	<span class="item__wrap">
		<span class="item__title">{{ props.title or 'Постельное белье' }}</span>
		{% if props.type %}
		<span class="item__type">{{ props.type or 'Техно' }}</span>
		{% endif %}
	</span>
</a>
<!-- end item -->
{% endmacro %}
