.icon-Bookmark {
  width: 0.6em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-next {
  width: 2.14em;
  height: 1em;
  fill: currentColor;
}
.icon-arrow-prev {
  width: 2.14em;
  height: 1em;
  fill: currentColor;
}
.icon-cancel {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-cart-of-ecommerce {
  width: 1.23em;
  height: 1em;
  fill: currentColor;
}
.icon-check {
  width: 1.24em;
  height: 1em;
  fill: currentColor;
}
.icon-chevron-down {
  width: 1.62em;
  height: 1em;
  fill: currentColor;
}
.icon-close-button {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-email {
  width: 1.32em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-home {
  width: 1.12em;
  height: 1em;
  fill: currentColor;
}
.icon-left {
  width: 0.62em;
  height: 1em;
  fill: currentColor;
}
.icon-lock {
  width: 0.75em;
  height: 1em;
  fill: currentColor;
}
.icon-marker {
  width: 0.72em;
  height: 1em;
  fill: currentColor;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-right {
  width: 0.62em;
  height: 1em;
  fill: currentColor;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-twitter {
  width: 1.23em;
  height: 1em;
  fill: currentColor;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-zoom {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
